@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.05em;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: white;  
}
h1{
    text-align: center;
    margin-top: 100px;
    font-size: 1.5em;
}
header{
    background: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.menu{
    display: flex;
}
.menu > li{
    margin-left: 10px;
}
.menu > li > a {
    display: block;
    padding: 10px;
}
.conteudo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    margin-top: 15px;
    max-width: 400px;
    background: lightgrey;
    font-size: 0.9em;
}
input{
    max-width: 100px;
    align-items: center;
}

.saida{
    display: inline-block;
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
}
